.max-height {
  min-height: 100vh;
}
body {
  background: var(--lightBlue);
}

.messageContent {
  color: var(--lightBlue);
}
#Submit {
  background: var(--lightBlue);
  color: var(--mainwhite);
}
#Submit:hover {
  color: var(--lightBlue);
  color: var(--mainBlack);
}

.feedback {
  display: none;
}

.show {
  display: block;
}
